@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(#b6b497 70%, #f8fde2);
}

.profile-header {
  padding: 0.4rem;
  justify-content: center;
  display: flex;
  align-items: center;  
  gap: 1rem;
}

.profile-img img {
  width: 250px;
  height: auto;
  border-radius: 8px;
}

.profile-info {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}


.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 0.3rem;
}

p, li {
  color: rgb(230, 227, 210);
}

.container{
  display: flex;
  gap: 6rem;
  justify-content: center;
}

.profile-bio {
  padding: 0.1rem;
}

main {
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center,
}

.profile-bio {
  max-width: 40rem;
  margin: 0 auto; 
  text-align: center;
}